.cv-application-form-container {
    justify-self: center;
    display: grid;
    grid-template-rows: repeat(auto);
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    width: 800px;
    min-height: 400px;
    box-shadow: 0px 4px 5px -0px rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
}

.cv-application-form-section-title {
    font-size: 2rem;
    color: rgb(34, 34, 34);
    text-align: center;
}

.cv-application-required-field-warning {
    font-size: 0.7rem;
    color: rgb(34, 34, 34);
    text-align: center;
}

.cv-application-personal-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.cv-application-personal-info-container .input-single-line {
    display: grid;
    grid-template-columns: 1fr auto 14%;
    padding: 0rem 0.4rem;
    gap: 1rem;
}
.cv-application-personal-info-container .input-single-line-label {
    align-self: center;
    color: black;
    text-align: end;
}
.cv-application-personal-info-container .input-single-line-input {
    align-self: center;
    width: 24rem;
    height: 1.8rem;
    border-radius: 0.4rem;
    border: none;
    outline: 1px solid rgb(66, 66, 66);
    font-size: 1.2rem;
    padding: 0rem 0.4rem;
}
.cv-application-personal-info-container .input-single-line-input:hover {
    outline: 2px solid rgb(37, 37, 37);
}
.cv-application-personal-info-container .input-single-line-input:focus {
    outline: 2px solid rgb(37, 37, 37);
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 0px 4px 5px -0px rgba(0, 0, 0, 0.3);
}

.cv-application-inputs-area {
    display: grid;
    grid-template-rows: auto;
}

.cv-application-page-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.cv-application-page-buttons .button-basic {
    border-radius: 0.3rem;
    border: none;
    outline: 1px solid rgb(66, 66, 66);
    color: rgb(0, 0, 0);
    background-color: #f0f0f0;
    font-size: 1rem;
    width: 8rem;
    height: 2.2rem;
}
.cv-application-page-buttons .button-basic:hover {
    background-color: #dfdfdf;
}
.cv-application-page-buttons .button-basic:active {
    background-color: #d1d1d1;
}