:root {
    --PreviousEducation-width: 38rem;
    --PreviousEducation-height: 12rem;
}

.HobbiesInterests {
    display: grid;
    grid-template-rows: auto;
    padding: 1rem 0.2rem;
}

.HobbiesInterests .hobbies-interests-information-text {
    color: rgb(34, 34, 34);
    text-align: center;
    font-size: 1rem;
    margin: 0.2rem 0rem;
}

.HobbiesInterests .hobbies-interests-textarea {
    place-self: center;
}

.HobbiesInterests .hobbies-interests-textarea .TextBox-textarea {
    width: var(--PreviousEducation-width, 38rem);
    height: var(--PreviousEducation-height, 12rem);
    padding: 0.4rem;
}

.HobbiesInterests .hobbies-interests-textarea .TextBox-textarea::placeholder {
    color: rgb(90, 90, 90);
    font-size: 0.9rem;
}

.HobbiesInterests .hobbies-interests-textarea .TextBox-textarea:focus::placeholder {
    opacity: 0;
}