:root {
    --Reference-label-column-width: 10rem;
    --Reference-input-column-width: 27rem;
    --Reference-label-to-input-gap: 1rem;
    --Reference-total-width: calc(
        var(--Reference-label-column-width, 10rem) +
        var(--Reference-input-column-width, 27rem) +
        var(--Reference-label-to-input-gap, 1rem)
    );
}

.Reference {
    place-self: center;
    display: grid;
    grid-template-rows: auto;
    place-items: center;
    gap: 0.2rem;
    width: var(--Reference-total-width);
}

.Reference .first-names,
.Reference .last-name,
.Reference .relationship,
.Reference .email-address,
.Reference .phone-number {
    display: grid;
    grid-template-columns: var(--Reference-label-column-width, 10rem) var(--Reference-input-column-width, 27rem);
    gap: var(--Reference-label-to-input-gap, 1rem);
}

.Reference .first-names-invalid-message,
.Reference .last-name-invalid-message,
.Reference .relationship-invalid-message,
.Reference .email-address-invalid-message,
.Reference .phone-number-invalid-message {
    color: rgb(255, 0, 0);
    justify-self: end;
    font-size: 0.6rem;
}

.Reference .first-names {
    grid-area: 1 / 1 / 2 / 2;
}
.Reference .first-names-invalid-message {
    grid-area: 2 / 1 / 3 / 2;
}

.Reference .last-name {
    grid-area: 3 / 1 / 4 / 2;
}
.Reference .last-name-invalid-message {
    grid-area: 4 / 1 / 5 / 2;
}

.Reference .relationship {
    grid-area: 5 / 1 / 6 / 2;
}
.Reference .relationship-invalid-message {
    grid-area: 6 / 1 / 7 / 2;
}

.Reference .email-address {
    grid-area: 7 / 1 / 8 / 2;
}
.Reference .email-address-invalid-message {
    grid-area: 8 / 1 / 9 / 2;
}

.Reference .phone-number {
    grid-area: 9 / 1 / 10 / 2;
}
.Reference .phone-number-invalid-message {
    grid-area: 10 / 1 / 11 / 2;
}

.Reference .ButtonBasic {
    border-radius: 0.3rem;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 0.2rem 0.4rem;
    width: 7rem;
    height: 1.8rem;
    place-self: end;
    grid-area: 11 / 1 / 12 / 2;
    background-color: #e73333;
}

.Reference .ButtonBasic:hover {
    background-color: #f54e4e;
}

.Reference .ButtonBasic:active {
    background-color: #c51717;
}